In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dogs_n_cats_train = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv')

In [12]:
X_train = dogs_n_cats_train.drop(['Вид'], axis=1)
y_train = dogs_n_cats_train.Вид

In [13]:
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [15]:
test_data = pd.read_json('C:\\Users\\User\\Downloads\\dataset_209691_15.txt')

In [16]:
test_data

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      34    40.8         1        0                   0
1      21    25.2         1        0                   0
2      29    34.8         1        1                   0
3      28    33.6         1        1                   0
4      23    27.6         1        1                   0
..    ...     ...       ...      ...                 ...
95     13     5.2         1        0                   1
96     10     4.0         1        0                   1
97     12     4.8         1        0                   1
98     13     5.2         1        0                   1
99     13     5.2         1        0                   1

[100 rows x 5 columns]

In [17]:
hh = clf.predict(test_data)
l = list(hh)
l.count('собачка')

54

In [18]:
l

['собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'собачка',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик',
 'котик']

In [19]:
dogs_n_cats_train

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]