In [60]:
import pandas as pd

In [61]:
students_performance = \
    pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [62]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [63]:
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [64]:
students_performance.shape

(1000, 8)

In [65]:
students_performance.size

8000

Средний балл за письменный экзамен у девушек и юношей:

In [66]:
students_performance.groupby('gender', as_index=False)\
    .agg({'writing score':'mean'})

   gender  writing score
0  female      72.467181
1    male      63.311203

Способы отобрать нужные строки/столбцы

In [67]:
# По индексам строк/столбцов
students_performance.iloc[0:5,0:3]

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [68]:
# Комбинированный вариант
students_performance[0:5][['gender', 'race/ethnicity', 'parental level of education']]

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [69]:
# По индексам строк/столбцов
students_performance.iloc[[0,3,10],[0,5,-1]]

    gender  math score  writing score
0   female          72             74
3     male          47             44
10    male          58             52

In [70]:
students_performance.iloc[lambda x: x.index % 2 == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
6,female,group B,some college,standard,completed,88,95,92
8,male,group D,high school,free/reduced,completed,64,64,67
...,...,...,...,...,...,...,...,...
990,male,group E,high school,free/reduced,completed,86,81,75
992,female,group D,associate's degree,free/reduced,none,55,76,76
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55
998,female,group D,some college,standard,completed,68,78,77

In [71]:
students_performance_with_names = \
    students_performance.iloc[[0,3,4,7,8]]

In [72]:
students_performance_with_names.index = \
    ['Ivan','Tywin','Alex','Max','Dima']

In [73]:
students_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Ivan,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Alex,male,group C,some college,standard,none,76,78,75
Max,male,group B,some college,free/reduced,none,40,43,39
Dima,male,group D,high school,free/reduced,completed,64,64,67

In [74]:
students_performance_with_names.loc[['Ivan','Tywin'],['gender','race/ethnicity']]

       gender race/ethnicity
Ivan   female        group B
Tywin    male        group A

In [75]:
students_performance_with_names.iloc[:,0]

Ivan     female
Tywin      male
Alex       male
Max        male
Dima       male
Name: gender, dtype: object

In [76]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [77]:
my_series1 = pd.Series([1,2,3], index=['Ivan','Tywin','Alex'])
my_series2 = pd.Series([4,5,6], index=['Ivan','Tywin','Alex'])

In [78]:
pd.DataFrame({'col_name1':my_series1, 'col_name2':my_series2})

       col_name1  col_name2
Ivan           1          4
Tywin          2          5
Alex           3          6

In [79]:
students_performance_with_names[['gender']]

       gender
Ivan   female
Tywin    male
Alex     male
Max      male
Dima     male

In [80]:
students_performance_with_names['gender']

Ivan     female
Tywin      male
Alex       male
Max        male
Dima       male
Name: gender, dtype: object