In [102]:
import pandas as pd

In [118]:
students_performance = \
    pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

Средний балл за письменный экзамен:

In [104]:
mean_writing_score = students_performance['writing score'].mean()
mean_writing_score

68.054

Студенты, у которых балл за письменный экзамен выше среднего:

In [105]:
students_performance.loc[students_performance['writing score']
                         > mean_writing_score].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78

In [106]:
students_performance.loc[students_performance.gender == 'female',
                         ['race/ethnicity','lunch']].head()

  race/ethnicity     lunch
0        group B  standard
1        group C  standard
2        group B  standard
5        group B  standard
6        group B  standard

In [107]:
students_performance.loc[students_performance.gender == 'female']\
    .head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [108]:
students_performance[(students_performance['writing score'] > 99) &
                     (students_performance.gender == 'female')].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
106,female,group D,master's degree,standard,none,87,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
165,female,group C,bachelor's degree,standard,completed,96,100,100
179,female,group D,some high school,standard,completed,97,100,100
377,female,group D,master's degree,free/reduced,completed,85,95,100

In [109]:
# Доля студентов из датасэта,
# у которых в колонке lunch указано free/reduced

students_performance['lunch'].value_counts(normalize=True)

standard        0.645
free/reduced    0.355
Name: lunch, dtype: float64

In [110]:
# Различия в среднем и дисперсии оценок по предметам
# у групп студентов со стандартным или урезанным ланчем

students_performance.groupby('lunch').mean()
students_performance.groupby('lunch').var()

              math score  reading score  writing score
lunch
free/reduced  229.824270     221.871139     238.202881
standard      186.418089     191.285560     205.620887

In [111]:
students_performance.columns = \
    students_performance.columns.str.replace(' ','_')

In [112]:
students_performance.query('writing_score > 74').head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [113]:
students_performance.query("gender == 'female'").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [114]:
writing_score_query = 88

In [115]:
students_performance.query("writing_score > @writing_score_query").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
94,female,group B,some college,standard,none,79,86,92
102,female,group D,associate's degree,standard,none,85,91,89
104,male,group C,some college,standard,completed,98,86,90

In [116]:
students_performance[['reading_score','writing_score']].head()

   reading_score  writing_score
0             72             74
1             90             88
2             95             93
3             57             44
4             78             75

In [117]:
students_performance.filter(like='score').head()

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75