In [23]:
import pandas as pd
import numpy as np

1. Создаём DataFrame

In [24]:
my_data = pd.DataFrame({'type':['A','A','B','B'], 'value':[10,14,12,23]})
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [25]:
# Или
my_data = pd.DataFrame({"type": list("AABB"), "value": [10, 14, 12, 23]})

In [26]:
# Или
my_data = pd.DataFrame([['A', 10],['A',14],['B',12],['B', 23]],
                       columns=['type','value'])

2. Выбор нужнных колонок и строк

In [27]:
my_stat = \
pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv',
            nrows=20)
my_stat

    V1    V2 V3   V4
0    2  13.0  B  1.0
1   -1   7.0  B  1.0
2    0  11.0  A  0.0
3    2  11.0  A  2.0
4    0  10.0  B -1.0
5    2  11.0  A  0.0
6    0   9.0  A  2.0
7    1   9.0  A  1.0
8    0   9.0  B  2.0
9   -1  10.0  A  0.0
10   1  10.0  A  1.0
11  -2  10.0  A  1.0
12   0   8.0  B  0.0
13   1  12.0  A  3.0
14  -1  10.0  A  2.0
15   2  10.0  B  1.0
16   0   9.0  B  1.0
17   0  11.0  A  0.0
18   0   8.0  A  1.0
19   0  10.0  A  1.0

2.1 В переменную с именем subset_1 сохраняем только первые 10 строк и
только 1 и 3 колонку.

In [28]:
subset_1 = my_stat.iloc[0:10,[0,2]]
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

2.2 В переменную с именем subset_2 сохраняем все строки
кроме 1 и 5 и только 2 и 4 колонку.

In [29]:
subset_2 = my_stat.drop([0, 4]).iloc[:,[1,3]]
subset_2

      V2   V4
1    7.0  1.0
2   11.0  0.0
3   11.0  2.0
5   11.0  0.0
6    9.0  2.0
7    9.0  1.0
8    9.0  2.0
9   10.0  0.0
10  10.0  1.0
11  10.0  1.0
12   8.0  0.0
13  12.0  3.0
14  10.0  2.0
15  10.0  1.0
16   9.0  1.0
17  11.0  0.0
18   8.0  1.0
19  10.0  1.0

3. Отбираем нужные наблюдения (строки), соответствующие некому условию

3.1 В переменную subset_1 сохраним только те наблюдения,
у которых значения переменной V1  строго больше 0,
и значение переменной V3  равняется 'A'.

In [30]:
subset_1 = my_stat.query("(V1 > 0) & (V3 == 'A')")
subset_1

    V1    V2 V3   V4
3    2  11.0  A  2.0
5    2  11.0  A  0.0
7    1   9.0  A  1.0
10   1  10.0  A  1.0
13   1  12.0  A  3.0

3.1 В переменную  subset_2  сохраним только те наблюдения,
у которых значения переменной V2  не равняются 10,
или значения переменной V4 больше или равно 1.

In [31]:
subset_2 = my_stat.query("(V2 != 10) | (V4 > 0)")
subset_2

    V1    V2 V3   V4
0    2  13.0  B  1.0
1   -1   7.0  B  1.0
2    0  11.0  A  0.0
3    2  11.0  A  2.0
5    2  11.0  A  0.0
6    0   9.0  A  2.0
7    1   9.0  A  1.0
8    0   9.0  B  2.0
10   1  10.0  A  1.0
11  -2  10.0  A  1.0
12   0   8.0  B  0.0
13   1  12.0  A  3.0
14  -1  10.0  A  2.0
15   2  10.0  B  1.0
16   0   9.0  B  1.0
17   0  11.0  A  0.0
18   0   8.0  A  1.0
19   0  10.0  A  1.0

4. Создадим две новые переменные:
V5 = V1 + V4
V6 = натуральный логарифм переменной V2

In [32]:
my_stat['V5'] = my_stat.V1+my_stat.V4
my_stat['V6'] = np.log(my_stat.V2)

In [33]:
# Или

# my_stat = my_stat \
# .assign(V5 = my_stat.V1+my_stat.V4, V6 = np.log(my_stat.V2));

my_stat

    V1    V2 V3   V4   V5        V6
0    2  13.0  B  1.0  3.0  2.564949
1   -1   7.0  B  1.0  0.0  1.945910
2    0  11.0  A  0.0  0.0  2.397895
3    2  11.0  A  2.0  4.0  2.397895
4    0  10.0  B -1.0 -1.0  2.302585
5    2  11.0  A  0.0  2.0  2.397895
6    0   9.0  A  2.0  2.0  2.197225
7    1   9.0  A  1.0  2.0  2.197225
8    0   9.0  B  2.0  2.0  2.197225
9   -1  10.0  A  0.0 -1.0  2.302585
10   1  10.0  A  1.0  2.0  2.302585
11  -2  10.0  A  1.0 -1.0  2.302585
12   0   8.0  B  0.0  0.0  2.079442
13   1  12.0  A  3.0  4.0  2.484907
14  -1  10.0  A  2.0  1.0  2.302585
15   2  10.0  B  1.0  3.0  2.302585
16   0   9.0  B  1.0  1.0  2.197225
17   0  11.0  A  0.0  0.0  2.397895
18   0   8.0  A  1.0  1.0  2.079442
19   0  10.0  A  1.0  1.0  2.302585

Переименуем колонки в данных

In [34]:
my_stat.rename({'V1':'session_value',
'V2':'group',
'V3':'time',
'V4':'n_users'}, axis='columns', inplace=True)
my_stat

    session_value  group time  n_users   V5        V6
0               2   13.0    B      1.0  3.0  2.564949
1              -1    7.0    B      1.0  0.0  1.945910
2               0   11.0    A      0.0  0.0  2.397895
3               2   11.0    A      2.0  4.0  2.397895
4               0   10.0    B     -1.0 -1.0  2.302585
5               2   11.0    A      0.0  2.0  2.397895
6               0    9.0    A      2.0  2.0  2.197225
7               1    9.0    A      1.0  2.0  2.197225
8               0    9.0    B      2.0  2.0  2.197225
9              -1   10.0    A      0.0 -1.0  2.302585
10              1   10.0    A      1.0  2.0  2.302585
11             -2   10.0    A      1.0 -1.0  2.302585
12              0    8.0    B      0.0  0.0  2.079442
13              1   12.0    A      3.0  4.0  2.484907
14             -1   10.0    A      2.0  1.0  2.302585
15              2   10.0    B      1.0  3.0  2.302585
16              0    9.0    B      1.0  1.0  2.197225
17              0   11.0    A      0.0  0.0  2.397895
18              0    8.0    A      1.0  1.0  2.079442
19              0   10.0    A      1.0  1.0  2.302585

In [35]:
# Или

# my_stat = my_stat.rename({'V1':'session_value',
# 'V2':'group',
# 'V3':'time',
# 'V4':'n_users'}, axis='columns')

In [36]:
# Или !!
# my_stat.columns = ['session_value','group','time','n_users']

4. Заменим некоторые наблюдения

In [38]:
my_stat_1 = \
pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

4.1 В переменной session_value заменим все пропущенные значения на нули.

In [40]:
my_stat_1 = my_stat_1.fillna(0)

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

4.2 В переменной n_users заменим все отрицательные значения
на медианное значение переменной n_users (без учета отрицательных)

In [64]:
my_stat_1.loc[my_stat_1['n_users'] < 0, 'n_users'] = \
    my_stat_1.query("n_users >= 0")['n_users'].median()
my_stat_1

   session_value  time group  n_users
0            0.0    12     B      9.0
1            0.0    11     A      5.0
2            1.0     8     A      1.0
3            2.0     9     B      3.0
4            2.0    10     B      9.0
5            3.0     8     A      8.0
6            0.0    11     B      5.0
7            0.0     9     A      4.0
8            0.0     8     B      5.0
9            0.0     9     A      5.0

5. Рассчитаем среднее значение переменной session_value для каждой группы,
в получившемся dataframe переменная group не должна превратиться в индекс.
5.1 Переименуем колонку со средним значением session_value
в mean_session_value.

In [70]:
mean_session_value_data = my_stat.groupby('group', as_index=False)\
    .agg({'session_value': 'mean'})\
    .rename(columns={'session_value':'mean_session_value'})

mean_session_value_data

   group  mean_session_value
0    7.0           -1.000000
1    8.0            0.000000
2    9.0            0.250000
3   10.0           -0.142857
4   11.0            1.000000
5   12.0            1.000000
6   13.0            2.000000